@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
/* *{
    border: 2px solid green;
} */

:root {
    --primary: red;
    --margin-section: 10px;
    --width-section: 68em;
    --font-family-primary: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    #page > * {
        width: var(--width-section);
        margin: var(--margin-section) 0 var(--margin-section) 0;
        padding: var(--margin-section) 5px var(--margin-section) 5px;
        border: 1px solid var(--primary);
    }

#social-network,
#img-media {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
    #social-network {
        height: 8em;
        width: 4em;
        background-color: var(--primary);
        border-radius: 25px 0px 0px 25px;
        padding: 15px;
        right: 0;
        top: 30vh;
    }

    #img-media {
        height: 400px;
        width: 200px;
        top: 2vh;
    }

    #img-media > div {
        height: 100px;
        width: 100px;
        background-size: contain;
    }

        #img-dark {
            background-image: url(assets/images/fond_logo_of_20.png);
        }

        #img-medium {
            background-image: url(assets/images/fond_logo_of_10.png);
        }

        #img-light {
            background-image: url(assets/images/fond_logo_of_5.png);
        }

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(assets/images/fond_foule_banniere.png);
    background-size: cover;
}

    .sub-menu {
        visibility: hidden;
    }

    #menu nav {
        width: 100%;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    #menu  ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

        #menu  ul li {
            width: 100%;
            text-align: center;
        }

        #menu  ul li a {
            text-decoration: none;
            font-size: 1.8em;
            color: rgb(65, 64, 64);
        }

        #menu  ul li a:hover {
            text-decoration: underline;
            color: var(--primary);
        }

    #primary-title {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 5px 0 5px 0;
    }

        #primary-title h1 {
            color: red;
            font-size: 8em;
            font-family: var(--font-family-primary);
        }

    
  
       
