@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
/* *{
    border: 2px solid green;
} */

:root {
    --primary: red;
    --secondary: white;
    --third: gray;
    --third-light: rgb(207, 207, 207);
    --text-highlight: yellow;
    --color-text: black;
    --title-primary: 8em;
    --title-secondary: 4em;
    --title-third: 2em;
    --title-fourth: 1.4em;
    --first-letter-title-fourth: 1.8em;
    --margin-section: 10px;
    --width-section: 68em;
    --font-family-primary: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-primary);
}
    #page > * {
        width: var(--width-section);
        margin: var(--margin-section) 0 var(--margin-section) 0;
        padding: var(--margin-section) 5px var(--margin-section) 5px;
        border: 1px solid var(--primary);
    }

    #page header > *,
    #page main > *,
    #page footer > * {
        padding: 10px;
    }

#social-network,
#img-media,
#img-popcorn {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
    #social-network {
        height: 8em;
        width: 4em;
        background-color: var(--primary);
        border-radius: 25px 0px 0px 25px;
        padding: 15px;
        right: 0;
        top: 30vh;
    }

    #img-popcorn {
        height: 200px;
        width: 200px;
        bottom: 5px;
        right: 0;
    }

    #img-media {
        height: 400px;
        width: 200px;
        top: 2vh;
    }

    #img-media > div {
        height: 100px;
        width: 100px;
        background-size: contain;
    }

        #img-dark {
            background-image: url(assets/images/fond_logo_of_20.png);
        }

        #img-medium {
            background-image: url(assets/images/fond_logo_of_10.png);
        }

        #img-light {
            background-image: url(assets/images/fond_logo_of_5.png);
        }

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(assets/images/fond_foule_banniere.png);
    background-size: cover;
}

    #menu ul.sub-menu {
        display: none;
    }

    #menu li:hover > #menu ul.sub-menu {
        display: flex;
        flex-direction: column;
    }

    #menu nav {
        width: 100%;
        border-top: 1px solid var(--third);
        border-bottom: 1px solid var(--third);
    }

    #menu  ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

        #menu  ul li {
            width: 100%;
            text-align: center;
        }

        #menu  ul li a {
            text-decoration: none;
            font-size: 1.8em;
            color: rgb(65, 64, 64);
        }

        #menu  ul li a:hover {
            text-decoration: underline;
            color: var(--primary);
        }

    #primary-title {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 5px 0 5px 0;
    }

        #primary-title h1 {
            color: var(--primary);
            font-size: var(--title-primary);
            font-family: var(--font-family-primary);
        }

h2 {
    font-size: var(--title-secondary);
    background-color: var(--third);
    color: var(--secondary);
    padding: 10px 40px 10px 40px;
    margin-bottom: 40px;
}

h3::before {
    content: url(assets/images/puce_of_rg.png);
    width: 10px;
    height: 10px;
}

h3 {
    color: var(--primary);
    font-size: var(--title-third);
    border-bottom: 4px solid var(--primary);
    margin: 20px 0 20px 0px;
}

h4 {
    font-size: var(--title-fourth);
    background-color: var(--third-light);
    width: 100%;
    padding: 5px 20px 5px 20px;
    margin: 20px 0px 20px 0;
}

    .first-letter,
    .first-letter::first-letter {
        font-size: var(--first-letter-title-fourth);
        font-weight: bold;
    }

.article-position-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
}
    .article-position-center p {
        margin: 5px;
    }

    .img-background-color {
        background-color: var(--third-light);
        width: 640px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .img-background-color figcaption {
            font-style: oblique;
        }

.un-reve-de-gosse {
    background-color: var(--primary);
    border-radius: 50px 0 0 0;
    color: var(--secondary);
    margin: 20px 30px 20px 30px;
    padding: 40px;
}
 

    .un-reve-de-gosse h4 {
        background-color: var(--primary);
        border-top: solid 4px var(--secondary);
        border-bottom: solid 4px var(--secondary);
        word-spacing: 20px;
    }

    .img-list::before {
        content: url(/assets/images/puce_bobine.png);
        width: 10px;
        height: 10px;
    }

    .background-red {
        background-color: var(--primary);
    }

    .background-white {
        background-color: var(--secondary);
    }

    .background-gray {
        background-color: var(--third);
    }

    .background-light-gray {
        background-color: var(--third-light);
    }

    .margin-around {
        margin: 10px;
    }

    .padding-top-bottom {
        padding-top: 10px;
        padding-bottom: 10px
    }

    .padding-left {
        padding-left: 50px;
    }

    .width-80 {
        width: 80%;
    }

    .text-color-white {
        color: var(--secondary);
    }

    .text-color-red {
        color: var(--primary);
    }

    .text-color-black {
        color: var(--color-text);
    }

    .border-right-red {
        border-right: 4px solid var(--primary);
    }
    
    .width-full {
        width: 100%;
    }

    .text-uppercase {
        text-transform: uppercase;
    }

    .text-bold {
        font-weight: bold;
    }
    
    .text-align-left {
        text-align: end;
    }

    .text-align-center {
        text-align: center;
    }
    
    .text-highlight {
        background-color: var(--text-highlight);
    }

    .text-oblique {
        font-style: oblique;
    }

    .padding-around {
        padding: 5px;
    }

    .padding-top-bottom {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .position-center {
        margin: 0 auto;
    }

    .lettrine::first-letter {
        font-weight: bold;
        font-size: 2em;
    }

table {
    width: 60%;
    margin: 20px auto 0 auto;
    border: 2px solid var(--color-text);
}
    caption {
        border: 1px solid var(--color-text);
    }

    tr,
    td {
        border: 2px solid var(--color-text);
        width: 100px;
        padding: 5px;
    }
    
footer {
    background-color: var(--third);
}

    .container-row {
        display: flex;
        flex-direction: row;
        align-items:flex-end;
    }

    iframe {
        width: 600px;
        height: 450px; 
        border: 0;
    }

    .position-colunm {
        text-align: end;
        width: calc(var(--width-section) - 600px);
    }

    .position-colunm p {
        margin-top: 10px;
    }

    
       
